<!doctype html>
<html lang="en" class="vf-no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
    {% render '@vf-no-js' %}
  </head>
  <body class="{{ bodyClass }}">
    <!-- embl global header -->
    <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

    <div class="vf-body">

      <div class="vf-grid vf-u-margin__top--md">
        <!-- embl global banner -->
        <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=580&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
      </div>

      <div class="vf-grid">
        <div>
          {{ content | safe }}
        </div>
      </div>
    </div>

    {% include "footer.njk" %}

  </body>
</html>
